tbody > tr:hover {
    color: var(--color-primary);
    background-color: var(--color-background-primary);    
}

td, th {
    @apply p-4;
}

tr {
    border-bottom: 1px solid var(--color-background-primary);
}